
body {
    overflow-x: hidden;
}

.horizontal-scroll {
    overflow-x: auto;      
    overflow-y: hidden;   
}
  
.navbar-toggler {
    outline-width: 0 !important; 
    box-shadow: none !important;
}


.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.margin-custom{
    margin-left: 100px !important;
    margin-right: 100px !important;
}

/*
.scroll{
    opacity: 0 !important;
    transform: translateY(100px) !important;
  }
  
  
  .scroll-visible{
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition: 2s cubic-bezier(.5, 0, 0, 1) !important;
  }*/


  @media (max-width: 576px) { 
        .margin-custom{
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 100px;
        }

        .custom-t{
            font-size: 10px !important;
            margin-top: 100px;
        }

        .custom-b{
            font-size: 10px;
            margin-bottom: 100px;
        }

        .custom-h {
            font-size: 13px !important;
            font-weight: bold !important;
        }

        .ha{
            display: none;
        }
        
       
   }

