.selector-for-some-widget {
    box-sizing: content-box;
  }


.navbar{
    border-bottom: 1px solid rgba(33, 32, 32, 0.129) !important;
}
.navbar-toggler {
    outline-width: 0 !important; 
    box-shadow: none !important;
}

.btn-close {
     outline-width: 0 !important; 
     box-shadow: none !important;
}

.anim-nav {
    background-color: rgba(255, 255, 255, 0.926);
}

.nav-item  a {
    font-size: 25px ;
}

.bo {
    background-color: rgba(255, 255, 255, 0.926);

}



img{
    
    transition: 0.7s ease-in-out;
}

img:hover{
    cursor: pointer;
    transform: scale(0.9);
   
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-container:hover .overlay {
    opacity: 1;
}

.hidden-text {
    margin: 0;
}


@media (max-width: 576px){
    
   .smh{
    height: 800px !important;
   }

}


